/*======================= Scrolling Effect ======================= */
html {
    scroll-behavior: smooth;
}

/*======================= Body Font ======================= */
body {
    font-family: 'Muli', sans-serif;
    color: black;
}

/*======================= Navigation Bar ======================= */

.navbar {
    padding: .6rem 1rem;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-attachment: fixed;
    background-color: orangered;
}

.zoom {
    transition: transform .2s;
    /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.2);
}

/*======================= Carousel Effect ======================= */

.carousel-caption h1 {
    color: orangered;
    font-size: 60px;
    font-weight: bolder;
}

.carousel-caption strong {
    color: white;
    font-size: 60px;
    font-weight: bolder;
}

.carousel-caption p {
    font-size: 32px;
}

.carousel-caption {
    margin-bottom: 180px;
}

.carousel-caption a {
    background-color: orangered;
}

.carousel-caption a:hover {
    background-color: lightblue;
}

.carousel-item {
    margin-top: 80px;
}

/*======================= About Us ======================= */
#aboutid {
    background-color: white;
    margin-bottom: 0px;
}

#aboutheading {
    margin-bottom: 40px;
}

.blacktitle {
    color: orangered;
    text-align: center;
    font-size: 40px;
}

.orangetitle {
    color: black;
}

#para {
    text-align: justify;
}

u {
    text-decoration: none;
    border-bottom: 1px solid rgb(39, 34, 34);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #para {
        line-height: 1.5rem;
        font-size: 16px;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #para {
        line-height: 2rem;
        font-size: 18px;

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #para {
        line-height: 2rem;
        font-size: 20px;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #para {
        line-height: 3rem;
        font-size: 22px;

    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #para {
        line-height: 3.5rem;
        font-size: 24px;

    }
}

/*======================= Our Mission ======================= */

#ourmission {
    padding-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#ourmission h2 {
    margin-bottom: 50px;
    font-weight: bolder;
}

/*======================= Our Team ======================= */
#ourteamid {
    background-color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#ourteamheading {
    margin-bottom: 80px;
}

.icons {
    text-align: center;
}

.fa-linkedin {
    color: blue;
}

.fa-twitter {
    color: black;
}

/*======================= Contact Us ======================= */

#contactusid {
    border-radius: 20px;
}

#submitbtn:hover {
    background-color: blue;
    color: white;
}

.contactheading {
    margin-bottom: 50px;
}

.setbackgroundarea {
    padding-bottom: 0px;
}