/*============= RESETS =============*/

/*-- font-family: 'Open Sans', sans-serif; --*/

/*-- iPhone X Remove Gutters --*/

html {
    padding: env(safe-area-inset);
}

/*-- Body Font --*/

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

/*============= NAVIGATION =============*/

.navbar-brand img {
    height: 5rem;
    padding-top: .8rem;
}

.navbar {
    padding: .6rem 1rem;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-attachment: fixed;
    background-color: orangered;
}

.navbar-nav li {
    padding-right: .8rem;
    font-weight: bold;
    font-size: medium;
}

.navbar-nav .nav-link {
    padding-top: .8rem;
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
    font-weight: bolder;
    color: black;
}

.svg-inline--fa.fa-bars {
    color: white;
    font-size: 1.6rem;
}

/*-- Remove Button Outline --*/

button:active, button:focus {
    outline: 0;
}

/*============= LANDING PAGE =============*/

/*-- Fixed Landing Page Section --*/

.carousel-item {
    background: no-repeat center center scroll;
    background-size: cover;
}

.carousel-caption {
    position: center;
    bottom: 270px;
}

.carousel-caption h1 {
    font-size: xxx-large;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: xx-large;
    line-height: 1.9;
}

.carousel-caption a {
    background-color: orangered;
    color: white;
    border-color: orangered;
}

.carousel-caption a.active, .carousel-caption a:hover {
    background-color: white;
    color: orangered;
}

/*-- Landing Page Content --*/

/*============= ABOUT SECTION =============*/

.about {
    line-height: 4rem;
}

/*-- Scrollspy Offset --*/

.offset::before {
    content: "";
}

/*============= PORTFOLIO SECTION =============*/

.portfolio-item {
    overflow: hidden;
}


.portfolio-item img:hover {
    cursor: zoom-in;
    transform: scale(1.1);
}


/*============= TESTIMONIALS SECTION =============*/

/*============= CONTACT SECTION =============*/

/*-- Contact Form --*/

/*============= MEDIA QUERIES =============*/

/* Medium (md) devices (tablets, 768px and under) */

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/